
@import "materialize";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;

* {
	color: #212121;
}

p {
	font-size: 12px;
}

.container .row {
	margin: 0;
}

.btn {
	height: 28px;
}

.wolfProfileImageSmall {
	max-width:40px;
}

.wolfProfileImageBig {
	max-width:150px;
}

.secondary-content {
	color: #757575;
	font-weight: 300;
}

i {
	width: 14px;
}

.howlsIndex .btn {
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
	font-size: 12px;
}

.newPackBtn {
	width: auto;
	font-size:12px;
}

.howlsEditDelete {
	width:55px;	
}

.indexTitle h5{
	margin-top: 22px;
	margin-bottom: 22px;
}

ul.collection li.collection-item.avatar{
	min-height: auto;
}

.numHowls {
	font-size: 11px;
	font-weight: 400;
}

.likes {
	margin-left:15px;
}

.likes, .howlBack {
}

.title a{
	color: #212121;
}