
@import "materialize";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;

* {
	outline: 1px solid red;
}

.container .row {
	margin: 0;
}

.wolfProfileImageSmall {
	max-width:50px;
}

.wolfProfileImageBig {
	max-width:100px;
	border-radius: 50%;
}