<!DOCTYPE html>
<html>
<head>
  <title>HowlrRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<!-- NAVBAR -->
  <nav class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Howlr</a>

    </div>
  </nav>




	<%= yield %>


<script type="text/javascript">
  $(document).ready(function() {
  $('select').material_select();
});
</script>
<script type="text/javascript">
$('label').addClass('active');</script>
<script type="text/javascript">
    $(function() {
    Materialize.updateTextFields();
})
</script>  
<script type="text/javascript">
  $(document).on 'ready page:change', ->
        $('.dropdown-button').dropdown()
</script>
</body>
</html>
